* {margin: 0; padding: 0;}

.outer-div{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    */
    background-color: #263238;
    align-items: center;
    justify-content: center;
}
.iner-div{
    position: relative;
    width: 100%;
    height: 95%;
    /*background-color: thistle;*/
    display: flex;
    flex-direction: column;
}
.task-div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px 10px 0px 10px;
}
.task-div-center{
    background-color: rgb(0, 0, 0, 40%);
    border: 2px solid #263238;
    width: calc(85% - 38px);
    height: 100%;
}

/* Task sidebar */
.task-sidebar{
    position: relative;
    margin-right: 10px;
    height: 100%;
    width: 15%;
    background: #37474f;
    border: 2px solid #263238;
    display: flex;
    flex-direction: column;
    color: #eeeeee;
}
.task-sidebar-header{
    height: 30px;
    width: 100%;
    position: relative;
    background-color: #4E5A5F;
    border-bottom: 2px solid #263238;
    text-align: center;
}
.task-sidebar-tasks ul{
    list-style-type: none;
}
.task-sidebar-tasks li{
    padding: 3px;
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid #4E5A5F;
}
/* Time line days & hours */
.timeline-day{
    height: 50px;
    width: 100%;
    background-color: #37474f;
    border: 2px solid #263238;
    color: #eeeeee;
    font-size: 30px;
    display: flex;
    flex-direction: row;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.col-day{
    border-left: 1px solid #263238;
    border-right: 1px solid #263238;
    width: calc((100% / 7) - 4px);
}

.timeline-hour{
    height: 50px;
    width: 100%;
    background-color: #37474f;
    border: 2px solid #263238;
    margin-top: 2px;
    color: #eeeeee;
    font-size: 30px;
    display: flex;
    flex-direction: row;
}

.col-hour{
    width: calc((100% / 8) - 4px);
    border-left: 1px solid #263238;
    border-right: 1px solid #263238;
}